.TodoItem {
  background: #cdccf8ff;
  color: #080328;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem 2rem 4rem;
  border: .15rem solid #080328;
  /* box-shadow: 0  1rem 1rem #495B73; */
  border-radius: .6rem;
  
}

.TodoItem-p {
  margin: 2rem 0 2rem 2rem;
  width: calc(100% - 7rem);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through #929090;
}

@media(max-width: 532px){
  
  .TodoItem   {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 12rem 2rem 1rem;
    margin-left: -.1rem;
    border: .15rem solid #080328;
  }

  .TodoItem-p {
    font-size: 1.3rem;
  }
}
/* 
@media(min-width: 383px){
  
  .TodoItem   {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 22rem 2rem 1rem;
    margin-left: 0rem;
    border: .15rem solid #080328;
  }

  .TodoItem-p {
    font-size: 1.3rem;
  }
} */