.loadingProcess {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingProcess::after {
  content: "";
  width: 105px;
  height: 105px;
  border: 15px solid #f3f3f3;
  border-top: 15px solid #72A9F2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  


