@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  background: #273440;
  color: #273440;
  font-family: 'Popins', sans-serif ;
}

#root {
  margin: 0 2.4rem;
  position: relative;
  min-height: 100vh;
}
