@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  background: #eed9eaff;
  color: #273440;
  font-family: 'Popins', sans-serif ;
}

#root {
  margin: 0 2.4rem;
  position: relative;
  min-height: 100vh;
}

@media(max-width: 532px){
  
  #root {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('./background-image/fondo\ app.png') no-repeat;
    background-size: contain;
    background-position: center;
  }
}



/* first bg #0f054cff */
/* second bg #cdccf8ff */
/* third bg #080328 */
/* fourth bg #9494b5 */