
.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.4rem;
  font-size: 2rem;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-container-check {
  position: absolute;
  left: .8rem;
}
.Icon-container-check--active {
  color: #4caf50;
}

.Icon-container-delete {
  position: absolute;
  top: -24px;
  right: 0;
}
.Icon-container-delete:hover {
  color: red;
}

.Icon-svg {
  width: 1.8rem;
  height: 1.8rem;
}

.Icon-container-check:hover .Icon-svg {
  fill: #4caf50;
}
.Icon-container-delete:hover .Icon-svg {
  fill: red;
}
