.TodoCounter {
  
  text-align: center;
  margin: 4rem 4rem 4rem 4rem;
  padding: 3rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.0;
  color: #ededed;
  background: #0f054cff;
  border: .15rem solid #080328;
  /* box-shadow:  0 .5rem 1rem #08e6ea; */
  border-radius: .6rem;
}

.TodoCounter span {
  font-weight: bold;
  color: #08e6ea;
  
}

@media(max-width: 532px){
  
  .TodoCounter  {
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 1.1;
    width: 80%;
    box-shadow:  0 .5rem 1rem #08e6ea;
    border: .15rem solid #080328;
  }
}

