.TodoSearch {
  background: #EBEFF2;
  border-radius: .6rem;
  border: .15rem solid #080328;
  margin: 1rem 4rem 1rem 4rem;
  height: 3rem;
  width: calc(100% - 8.5rem);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-align: center;
  color: #1E1E1F;
  /* box-shadow:  0 .5rem 1rem #08e6ea; */
}

.TodoSearch::placeholder {
  color: #b3b0b0;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #fa154b;
}
